@model ApplicationUser
@using KerstmanPROG6_Fedor_Kevin.models

<h2>Login</h2>

<div class="row">
    @if (null != TempData["alertMessage"])
    {
        <p class="text-danger">@TempData["alertMessage"]</p>
    }
    @if(null != TempData["successMessage"])
    {
        <p class="text-success">@TempData["successMessage"]</p>
    }
    <div class="col-md-4">
        <form action="/Santa/Login" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
            </div>

            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
</div>