@using KerstmanPROG6_Fedor_Kevin.models
@using Microsoft.AspNetCore.Identity
@model ApplicationUser
@inject SignInManager<ApplicationUser> SignInManager
@inject RoleManager<ApplicationUserRole> RoleManager
@{
    ViewData["Title"] = "Home Page";
}
@if (User.IsInRole("Santa") || true)
{
    @if (SignInManager.IsSignedIn(User))
    {
        <h1>Welkom terug @User.Identity?.Name!</h1>
    }
    <p>Welke kinderen mogen deze keer hun verlanglijstje invullen?</p>

    @if (null != TempData["alertMessage"])
    {
        <p class="text-danger">@TempData["alertMessage"]</p>
    }
    
    <div class="row">
        <div class="col-md-4">
            <form action="/Santa/Register" method="post">
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <p>Alle namen:</p>
                    <label asp-for="Name"></label>
                    <textarea asp-for="Name" class="form-control"></textarea>
                    <p class="text-muted">Typ alle namen met comma er tussen</p>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <p>Zijn deze kinderen braaf geweest?</p>
                    <div class="row">
                        <div class="col-1">
                            <input type="checkbox" asp-for="IsBehaved" checked />
                        </div>
                        <div class="col-1">
                            <p>Ja deze kinderen zijn braaf!</p>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control" />
                    <p class="text-muted">Maak het wachtwoord voor de kindjes niet te moeilijk!</p>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Accounts voor kindjes maken!</button>
            </form>
        </div>
    </div>
}